* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #030351;
    scroll-padding-top: 120px;
    box-sizing: border-box;
} 
::selection {
  color: #000000;
  background: #c7c7ed;
}
body {
    display: flex;
    flex-direction: column;
}

main, section {
    width: 100%;
}

header{
    background-color: #ffffff;
    margin: 0;
    max-height: 120px;
    position: sticky;
    top: 0px;
    padding: 0;
    width: 100%;
    padding: 1rem 12%;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
#menu{
    float: right;
    list-style: none;
}
header h1{
    margin: 0;
}
header h2{
    size: 200px;
    font-weight: 600;
}
header > #loichyts{
    width: 200px;
}
.top-nav{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    vertical-align: middle;
    align-items: center;
    
}
.lang_switch{
    margin-left: 20%;
    margin-right: 5%;
    white-space: nowrap;
    /* position: fixed;
    top: 49px;
    right: 0; */
}
a{
    text-decoration: none;
    /* animation: fadeIn 1s ease; */
    font-size: 1.2rem;
    padding: 0 0 0 12;
}
hr{
    margin: 5px;
    border: 1px solid #a2a2df;
}
#en{
    margin-left: 0px;
}
h1, h2, h3, h4 {
    text-align: center;
    margin: 1rem 0 1rem;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-bottom: 60px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    /* width: 300px; */
}

h4 {
    font-size: 1rem;
}

p {
    margin: 0.8rem  ;
    font-size: 1.2rem;
}
ul {
    list-style: inside;
}
li{
    font-size: 1.5rem;
}
blockquote {
    font-style: italic;
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 2px solid;
}

a:hover {
    opacity: 0.7;
}

img, #loichyts {
    margin: 0;
    float: left;
}

#logo{
    max-width: 100px;
}

#loichyts, header >h4{
    color: #050536;
}


#loichyts > h2, h3{
    text-align: left;
    margin: 0;
}

#loichyts > h2{
    font-weight: 600;
    margin-bottom: 0;
}
#loichyts{
    width: 300px;
    padding: 0 10px;
    display: block;
    flex-shrink: 0;
}
#start, #services, #contact{
    background-color: #e3e3ef;
}
section{
    padding-top: 20px;
}
#start{
    padding: 60px;
    margin-top: 0;
    min-height: 550px;
    align-items: center;
    vertical-align: middle;
}
#start > h1 h2 h3 h4{
    text-align: left;
}
#start > h1{
    font-weight: 500;
}
#start h2{
    font-weight: 700;
    font-size: 2rem;
}
#loichyts_photo{
    width: 32rem;
    margin-right: 50px;
    float: inline-start;
    margin-left: 90px;
}
b{
    font-weight: 600;
}
#slogan{
    text-align: center;
    margin: 2rem;
}


#about h2 h4,  #clients_say h2 h4{
    text-align: left;

}
#about p, #services p, #clients_say p{
    margin-bottom: 30px;
}
#about h2,  #clients_say h2{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;

}
#services h2{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;

}
#about h3, #services h3, #clients_say h3{
    text-align: center;
    margin-top: 1px;
    font-weight: 600;
}
#about h1, #clients_say h1{
    margin-bottom: 1px;
}
#about, #services, #clients_say{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 20px;
}
#about a, #services a, #clients_say a{
    text-decoration: underline;
    font-size: 1.2rem;
    padding-right: 12px;
    margin: 10px;
    margin-bottom: 20px;
}
#links, #links h2{
    text-align: center;
}
#services {
    text-align: center;
}
#services h1{
    margin-bottom: 40px;
    margin-top: 30px;}

#services li{
    text-decoration: none;
    list-style-type: none;

}
#services ul{
    margin-top: 0px;
    /* margin-bottom: 30px; */
    padding-bottom: 30px;
    padding-left: 0;
}
#services hr{
    margin-bottom: 30px;
}
#clients_say h3{
    text-align: right;
    margin-bottom: 60px;
    font-size: 2rem;
}
#clients_say h2{
    font-size: 3rem;
    margin-top: 60px;
}
blockquote{
    font-size: 2rem;
    border-left: 6px solid #030351;
    /* background-color: #f1f1fb; */
}
#clients_say p{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
#clients{
    display: flex;
    flex-flow: row wrap;
    flex-direction: inherit;
    align-items: center;
    justify-content: space-around;
    margin-right:auto;
    margin-left:auto;
    width: auto;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#clients img{
    max-width: 100px;
    height: 100%;
    
    vertical-align: middle;
}
#clients > *{
    vertical-align: middle;
}
h1, h2, h3, h4, h5{
    max-inline-size: 100%;
}
#contact{
    padding-left: 15%;
    padding-right: 15%;
}
#contact h1{
    margin-bottom: 20px;
}
#contact a, #contact b{
    font-size: 1.6rem;
    font-weight: 500;
    
}
#contact > h3{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

footer > h2, footer > h3, footer p{
    text-align: left;
    margin-left: 0;
}
footer > h2{
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 3rem;
}
footer h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
footer p{
    margin: 0;
}
footer{
    /* background-color: #e3e3ef; */
    margin-top: 0;
    padding-left: 10%;
    margin-top: 3rem;
}
footer h4{
    text-align: right;
    padding-right: 10%;
}
